@page "/"
@inject ImposterServerInstance.ServersManager.ServersManager serverManager
@inject NavigationManager NavigationManager
@using System

<style>
    h1 {
        text-align: center;
    }

    p {
        text-align: center;
    }

    div {
        text-align: center;
    }
</style>

<h1>Welcome to Imposter Syndrome</h1>
<p>
    Please either Host or Join a Lobby
</p>
<br />
<button class="btn-primary" @onclick="FindServer">Find Server</button><input type="text" @bind="@ServerAddress" />
<br />
<button class="btn-primary" @onclick="HostNewServer">Host new Server</button>
<br />
@code
{
    public string ServerAddress { get; set; }
    public async Task FindServer()
    {


        if (ServerAddress is null)
        { }
        var id = Int32.Parse(ServerAddress);
        if (!serverManager.GamesInProgress.Exists(x => x.GameId == id))
        {

        }
        else
        {   
            NavigationManager.NavigateTo($"/Game/{ServerAddress}/Player");
        }
    }
    public void HostNewServer()
    {
        var tmp = new ImposterServerInstance.Controllers.GameController(ImposterServerInstance.ServersManager.ServersManager.GenerateGameId().Result);
        serverManager.GamesInProgress.Add(tmp);
        NavigationManager.NavigateTo($"/Game/{tmp.GameId}/Host");
    }
}
