@namespace ImposterServerInstance.Pages.Game
@inject ImposterServerInstance.ServersManager.ServersManager server
@inject Blazored.Toast.Services.IToastService toastService
@inject NavigationManager NavigationManager
@inject Data.Controllers.NotificationSystem notificationSys

@if (!(SessionPlayer is null))
{
    <div style="background-color:@Enum.GetName(typeof(ImposterServerInstance.GameModels.PlayerColor), SessionPlayer.PlayerData.Color)">
        <center>
            <h3>@SessionPlayer.PlayerData.Name</h3>
        </center>
    </div>
    <div class="container">
        <div class="vertical-center">
            <button class="btn-primary" @onclick="PerformTask">Perform Task</button>
            <button class="btn-primary" @onclick="KillPlayer">Kill Player</button>
        </div>
        <div class="vertical-center">
            <button class="btn-primary" @onclick="@(() => notificationSys.Emergency($"{SessionPlayer.PlayerData.Name}", SessionPlayer.PlayerData.GameId))">EMERGENCY</button>
        </div>
    </div>
    <center>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        isAlive
                    </th>
                    <th>
                        isImposter
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @SessionPlayer.PlayerData.isAlive
                    </td>
                    <td>
                        @SessionPlayer.PlayerData.isImposter
                    </td>
                </tr>
            </tbody>
        </table>
    </center>
}


@code {

    [Parameter]
    public string GameId { get; set; }
    [Parameter]
    public int PlayerId { get; set; }
    [Parameter]
    public ImposterServerInstance.Controllers.HostController SessionHost { get; set; }


    private ImposterServerInstance.Controllers.PlayerController SessionPlayer { get; set; }

    private bool hasAcknowledged { get; set; } = false;
    private bool hasBeenReceived { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        notificationSys.OnChange += ((s,i) => DisplayMessage(s,i));
        SessionPlayer = SessionHost.Players.Find(x => x.PlayerData.PlayerId == PlayerId);
    }


    protected async Task PerformTask()
    {

    }
    protected async Task KillPlayer()
    {

    }
    protected async Task RefreshPage()
    {
        if (!SessionPlayer.PlayerData.isEmergency)
        {
            hasBeenReceived = false;
        }
        await Task.Delay(1000);
        StateHasChanged();
    }
    protected async Task Acknowledge()
    {
        hasAcknowledged = true;
        SessionPlayer.ReceivedEmergency();
        await Task.Delay(1000);
    }
    public async Task DisplayMessage(string name, int id)
    {
        if (id == SessionPlayer.PlayerData.GameId)
        {
            toastService.ShowError($"Meeting has been called", "EMERGENCY!");
            await Task.Delay(TimeSpan.FromSeconds(10));
        }
    }

}