@page "/Game/Player/{gameId}/{playerId}"
@inject ImposterServer.ServersManager.ServersManager server

@if (!(player is null))
{
<div style="background-color:@Enum.GetName(typeof(ImposterServer.GameModels.PlayerColor),player.PlayerData.Color)">
    <center>
        <h3>@player.PlayerData.Name</h3>
    </center>
</div>
}

<center>
    <table class="table">
        <thead>
            <tr>
                <th>
                    isAlive
                </th>
                <th>
                    isImposter
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (!(player is null))
            {
                <tr>
                    <td>
                        @player.PlayerData.isAlive
                    </td>
                    <td>
                        @player.PlayerData.isImposter
                    </td>
                </tr>
            }
        </tbody>
    </table>
</center>


@code {


    private ImposterServer.Controllers.PlayerController player { get; set; }

    [Parameter]
    public string gameId { get; set; }
    [Parameter]
    public string playerId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        player = server.FindPlayer(Int32.Parse(gameId), Int32.Parse(playerId));
    }





}
