@page "/Game/Host/{gameId}/{hostId}"
@inject ImposterServer.ServersManager.ServersManager server
@using ImposterServer.Controllers
@inject NavigationManager NavigationManager


<h2>Lobby Code: @gameId</h2>

<button class="btn-primary" @onclick="RefreshPlayerList">Refresh Player List</button>

@if (players.Count == 0)
{
    <p><em>No players in Lobby...</em></p>
}
else
{


    <button class="btn-primary" @onclick="StartGame">Start Game</button><span></span>
    <button class="btn-primary" @onclick="ExitGame">ExitGame</button>
    <table class="table" style="background-color: #b6b6b6; text-align: center">
        <thead>
            <tr>
                <th>
                    Player Name
                </th>
                <th>
                    Status
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in players)
            {
                <tr>
                    <td style="background-color: @(Enum.GetName(typeof(ImposterServer.GameModels.PlayerColor),player.PlayerData.Color))">
                            @player.PlayerData.Name
                    </td>
                    <td>
                        @(player.PlayerData.isAlive ? "Alive" : "Dead")
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter]
    public string gameId { get; set; }
    [Parameter]
    public string hostId { get; set; }

    private HostController host;
    private List<PlayerController> players;

    protected override async Task OnInitializedAsync()
    {
        host = server.FindHost(Int32.Parse(gameId), Int32.Parse(hostId));
        players = host.Players;
    }

    protected async Task RefreshPlayerList()
    {
        players = host.Players;
    }

    protected async Task StartGame()
    {

    }
    protected async Task ExitGame()
    {
        var tmp = server.GamesInProgress.Find(x => x.GameId == Int32.Parse(gameId));
        server.RemoveGame(tmp);
        tmp.Dispose();
        NavigationManager.NavigateTo("/");
    }




}